{% extends "blogs/base.html" %}

{% block header %}
    <div>
        <h1>Titles</h1>
    </div>
{% endblock header %}

{% block content %}

    {% if user.is_authenticated %}
    <p>
    <a href="{% url 'blogs :new_title' %}">add new title</a>
    </p>
    {% endif %}
    <h3>
        {% for title in titles %}
            <li>
                <a href="{% url 'blogs:title' title.id %}">{{ title }}</a>
            </li>
            {% empty %}
            <li>No blogs have been added yet.</li>
        {% endfor %}
    </h3>
{% endblock content %}